USE [master]
GO
/****** Object:  Database [WESPLITAPP]    Script Date: 11/27/2020 12:05:25 AM ******/
CREATE DATABASE [WESPLITAPP]
 /* = NONE
 ON  PRIMARY 
( NAME = N'WESPLITAPP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WESPLITAPP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WESPLITAPP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WESPLITAPP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT*/
 GO

use	WESPLITAPP
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WESPLITAPP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WESPLITAPP]
GO
/****** Object:  UserDefinedFunction [dbo].[GETCURRENTPROCEEDS]    Script Date: 11/27/2020 12:05:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GETCURRENTPROCEEDS](@TRIP_ID INT)
RETURNS FLOAT
AS
BEGIN
DECLARE @CURRENTPROCCEDS FLOAT;
SET @CURRENTPROCCEDS = 0;
SET @CURRENTPROCCEDS = @CURRENTPROCCEDS + (SELECT SUM(TRIP_MEMBER.AMOUNTPAID) FROM TRIP_MEMBER WHERE TRIP_ID = @TRIP_ID)
RETURN @CURRENTPROCCEDS
END;
GO
/****** Object:  UserDefinedFunction [dbo].[GETTOTALCOST]    Script Date: 11/27/2020 12:05:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GETTOTALCOST](@TRIP_ID INT)
RETURNS FLOAT
AS
BEGIN
DECLARE @TOTALCOST FLOAT;
SET @TOTALCOST = 0;
SET @TOTALCOST = @TOTALCOST + (SELECT SUM(TRIP_LOCATION.COSTS) FROM TRIP_LOCATION WHERE TRIP_ID = @TRIP_ID)
SET @TOTALCOST = @TOTALCOST + (SELECT SUM(TRIP_COSTINCURRED.COST) FROM TRIP_COSTINCURRED WHERE TRIP_ID = @TRIP_ID)
RETURN @TOTALCOST
END;
GO
/****** Object:  Table [dbo].[COSTINCURRED]    Script Date: 11/27/2020 12:05:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COSTINCURRED](
	[COST_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCATION]    Script Date: 11/27/2020 12:05:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCATION](
	[LOCATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[ADDRESS] [nvarchar](255) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[TYPE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[LOCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMBER]    Script Date: 11/27/2020 12:05:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBER](
	[MEMBER_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[PHONENUMBER] [numeric](18, 0) NOT NULL,
	[GENDER] [bit] NULL,
	[AVATAR] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MEMBER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRIP]    Script Date: 11/27/2020 12:05:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRIP](
	[TRIP_ID] [int] IDENTITY(1,1) NOT NULL,
	[TITTLE] [nvarchar](255) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[THUMNAILIMAGE] [nvarchar](255) NOT NULL,
	[CURRENTPROCEEDS] [float] NOT NULL,
	[TOTALCOSTS] [float] NOT NULL,
	[TOGODATE] [datetime] NULL,
	[RETURNDATE] [datetime] NULL,
	[ISDONE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TRIP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRIP_COSTINCURRED]    Script Date: 11/27/2020 12:05:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRIP_COSTINCURRED](
	[COST_ID] [int] NOT NULL,
	[TRIP_ID] [int] NOT NULL,
	[COST] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[COST_ID] ASC,
	[TRIP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRIP_IMAGES]    Script Date: 11/27/2020 12:05:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRIP_IMAGES](
	[TRIP_ID] [int] NOT NULL,
	[IMAGE] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TRIP_IMAGES] PRIMARY KEY CLUSTERED 
(
	[TRIP_ID] ASC,
	[IMAGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRIP_LOCATION]    Script Date: 11/27/2020 12:05:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRIP_LOCATION](
	[TRIP_ID] [int] NOT NULL,
	[LOCATION_ID] [int] NOT NULL,
	[COSTS] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TRIP_ID] ASC,
	[LOCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRIP_MEMBER]    Script Date: 11/27/2020 12:05:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRIP_MEMBER](
	[TRIP_ID] [int] NOT NULL,
	[MEMBER_ID] [int] NOT NULL,
	[AMOUNTPAID] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TRIP_ID] ASC,
	[MEMBER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[COSTINCURRED] ON 

INSERT [dbo].[COSTINCURRED] ([COST_ID], [NAME]) VALUES (1, N'Chỗ ở')
INSERT [dbo].[COSTINCURRED] ([COST_ID], [NAME]) VALUES (2, N'Di chuyển')
INSERT [dbo].[COSTINCURRED] ([COST_ID], [NAME]) VALUES (3, N'Khác')
SET IDENTITY_INSERT [dbo].[COSTINCURRED] OFF
GO
SET IDENTITY_INSERT [dbo].[LOCATION] ON 

INSERT [dbo].[LOCATION] ([LOCATION_ID], [NAME], [ADDRESS], [DESCRIPTION], [TYPE]) VALUES (1, N'Lạc tiên giới', N'1/3 Đường Lâm Sinh, Phường 5, TP Đà Lạt', N'chiêu đãi du khách bằng phong cảnh núi rừng nguyên sơ, bên trên có khinh khí cầu, bên dưới là hồ nước tĩnh lặng', 0)
INSERT [dbo].[LOCATION] ([LOCATION_ID], [NAME], [ADDRESS], [DESCRIPTION], [TYPE]) VALUES (2, N'Bắc Thang Lên Hỏi Ông Trời', N'Thôn Túy Sơn, Xã Xuân Thọ, Đà Lạt', N'Là điểm đến “sống ảo” mới toanh của Đà Lạt', 0)
INSERT [dbo].[LOCATION] ([LOCATION_ID], [NAME], [ADDRESS], [DESCRIPTION], [TYPE]) VALUES (3, N'Nông trại Sunny Farm', N'Dốc Số 7, Trại Mát, P. 11, Tp. Đà Lạt', N'nấc thang lên thiên đường, quán cà phê nhỏ xinh ở Sunny Farm chính là điểm nhấn thu hút du khách. Từ vị trí của Sunny Farm bạn có thể phóng tầm mắt chiêm ngưỡng vẻ đẹp của khu Trại Mát', 0)
SET IDENTITY_INSERT [dbo].[LOCATION] OFF
GO
SET IDENTITY_INSERT [dbo].[MEMBER] ON 

INSERT [dbo].[MEMBER] ([MEMBER_ID], [NAME], [PHONENUMBER], [GENDER], [AVATAR]) VALUES (1, N'Nguyễn Văn A', CAST(123456789 AS Numeric(18, 0)), 0, N'\\Image\\Member\\avatar01.jpg')
INSERT [dbo].[MEMBER] ([MEMBER_ID], [NAME], [PHONENUMBER], [GENDER], [AVATAR]) VALUES (2, N'Nguyễn Văn B', CAST(123456788 AS Numeric(18, 0)), 1, N'\\Image\\Member\\avatar02.jpg
')
INSERT [dbo].[MEMBER] ([MEMBER_ID], [NAME], [PHONENUMBER], [GENDER], [AVATAR]) VALUES (3, N'Ngô Nha Trang', CAST(123456787 AS Numeric(18, 0)), 0, N'\\Image\\Member\\avatar03.jpg
')
SET IDENTITY_INSERT [dbo].[MEMBER] OFF
GO
SET IDENTITY_INSERT [dbo].[TRIP] ON 

INSERT [dbo].[TRIP] ([TRIP_ID], [TITTLE], [DESCRIPTION], [THUMNAILIMAGE], [CURRENTPROCEEDS], [TOTALCOSTS], [TOGODATE], [RETURNDATE], [ISDONE]) VALUES (1, N'Chuyến đi Đà Lạt đầu tiên', N'chuyến đi đầu tiên của cả nhà', N'\\Image\\Trip\\1\\1.jpg', 2150000, 2150000, CAST(N'2018-10-10T00:00:00.000' AS DateTime), CAST(N'2018-10-15T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[TRIP] ([TRIP_ID], [TITTLE], [DESCRIPTION], [THUMNAILIMAGE], [CURRENTPROCEEDS], [TOTALCOSTS], [TOGODATE], [RETURNDATE], [ISDONE]) VALUES (2, N'Hồ Chí Minh thành phố anh hùng', N'chuyến đi đầu tiên đến Tp.HCM', N'\\Image\\Trip\\2\\1.jpg', 2400000, 2400000, CAST(N'2019-09-11T00:00:00.000' AS DateTime), CAST(N'2019-09-15T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[TRIP] ([TRIP_ID], [TITTLE], [DESCRIPTION], [THUMNAILIMAGE], [CURRENTPROCEEDS], [TOTALCOSTS], [TOGODATE], [RETURNDATE], [ISDONE]) VALUES (3, N'huyện Long Thành không có bò sữa', N'huyện của điểm dừng chân vinamilk', N'\\Image\\Trip\\3\\1.png', 1789000, 1850000, CAST(N'2021-11-11T00:00:00.000' AS DateTime), CAST(N'2021-11-15T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[TRIP] OFF
GO
INSERT [dbo].[TRIP_COSTINCURRED] ([COST_ID], [TRIP_ID], [COST]) VALUES (1, 1, 200000)
INSERT [dbo].[TRIP_COSTINCURRED] ([COST_ID], [TRIP_ID], [COST]) VALUES (1, 2, 300000)
INSERT [dbo].[TRIP_COSTINCURRED] ([COST_ID], [TRIP_ID], [COST]) VALUES (1, 3, 300000)
GO
INSERT [dbo].[TRIP_IMAGES] ([TRIP_ID], [IMAGE]) VALUES (1, N'\\Image\\Trip\\1\\List\\1554722331_du-lich-da -lat-ngam-hoa-3.jpg
')
INSERT [dbo].[TRIP_IMAGES] ([TRIP_ID], [IMAGE]) VALUES (1, N'\\Image\\Trip\\1\\List\\du-lich-da-lat-cuoi-tuan-cover.jpg
')
INSERT [dbo].[TRIP_IMAGES] ([TRIP_ID], [IMAGE]) VALUES (1, N'\\Image\\Trip\\1\\List\\du-lich-da-lat-ivivu1-540x305.jpg
')
GO
INSERT [dbo].[TRIP_LOCATION] ([TRIP_ID], [LOCATION_ID], [COSTS]) VALUES (1, 1, 800000)
INSERT [dbo].[TRIP_LOCATION] ([TRIP_ID], [LOCATION_ID], [COSTS]) VALUES (1, 2, 500000)
INSERT [dbo].[TRIP_LOCATION] ([TRIP_ID], [LOCATION_ID], [COSTS]) VALUES (1, 3, 450000)
GO
INSERT [dbo].[TRIP_MEMBER] ([TRIP_ID], [MEMBER_ID], [AMOUNTPAID]) VALUES (1, 1, 537000)
INSERT [dbo].[TRIP_MEMBER] ([TRIP_ID], [MEMBER_ID], [AMOUNTPAID]) VALUES (1, 2, 537000)
INSERT [dbo].[TRIP_MEMBER] ([TRIP_ID], [MEMBER_ID], [AMOUNTPAID]) VALUES (1, 3, 537000)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LOCATION__5BE22BC31CCE4F4E]    Script Date: 11/27/2020 12:05:25 AM ******/
ALTER TABLE [dbo].[LOCATION] ADD UNIQUE NONCLUSTERED 
(
	[ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LOCATION__D9C1FA00EC0351B5]    Script Date: 11/27/2020 12:05:25 AM ******/
ALTER TABLE [dbo].[LOCATION] ADD UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MEMBER__75E9475620F48BDA]    Script Date: 11/27/2020 12:05:25 AM ******/
ALTER TABLE [dbo].[MEMBER] ADD UNIQUE NONCLUSTERED 
(
	[AVATAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MEMBER__D9C1FA00EC79FAD8]    Script Date: 11/27/2020 12:05:25 AM ******/
ALTER TABLE [dbo].[MEMBER] ADD UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TRIP__AC328C4F78EC6979]    Script Date: 11/27/2020 12:05:25 AM ******/
ALTER TABLE [dbo].[TRIP] ADD UNIQUE NONCLUSTERED 
(
	[TITTLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TRIP] ADD  DEFAULT ((0)) FOR [CURRENTPROCEEDS]
GO
ALTER TABLE [dbo].[TRIP] ADD  DEFAULT ((0)) FOR [TOTALCOSTS]
GO
ALTER TABLE [dbo].[TRIP_LOCATION] ADD  DEFAULT ((0)) FOR [COSTS]
GO
ALTER TABLE [dbo].[TRIP_MEMBER] ADD  DEFAULT ((0)) FOR [AMOUNTPAID]
GO
ALTER TABLE [dbo].[TRIP_COSTINCURRED]  WITH CHECK ADD FOREIGN KEY([COST_ID])
REFERENCES [dbo].[COSTINCURRED] ([COST_ID])
GO
ALTER TABLE [dbo].[TRIP_COSTINCURRED]  WITH CHECK ADD FOREIGN KEY([TRIP_ID])
REFERENCES [dbo].[TRIP] ([TRIP_ID])
GO
ALTER TABLE [dbo].[TRIP_IMAGES]  WITH CHECK ADD  CONSTRAINT [FK__TRIP_IMAG__TRIP___5070F446] FOREIGN KEY([TRIP_ID])
REFERENCES [dbo].[TRIP] ([TRIP_ID])
GO
ALTER TABLE [dbo].[TRIP_IMAGES] CHECK CONSTRAINT [FK__TRIP_IMAG__TRIP___5070F446]
GO
ALTER TABLE [dbo].[TRIP_LOCATION]  WITH CHECK ADD FOREIGN KEY([LOCATION_ID])
REFERENCES [dbo].[LOCATION] ([LOCATION_ID])
GO
ALTER TABLE [dbo].[TRIP_LOCATION]  WITH CHECK ADD FOREIGN KEY([TRIP_ID])
REFERENCES [dbo].[TRIP] ([TRIP_ID])
GO
ALTER TABLE [dbo].[TRIP_MEMBER]  WITH CHECK ADD FOREIGN KEY([MEMBER_ID])
REFERENCES [dbo].[MEMBER] ([MEMBER_ID])
GO
ALTER TABLE [dbo].[TRIP_MEMBER]  WITH CHECK ADD FOREIGN KEY([TRIP_ID])
REFERENCES [dbo].[TRIP] ([TRIP_ID])
GO
USE [master]
GO
